.logo { 
    margin-top:auto ;
}

#navigation {
    float: rigth;
    margin-top:45px;
}

#navigation li {
    display: inline-block;
}
#navigation a {
    color: black;
    text-decoration: none;
    padding: 15px
}

#navigation a:hover{
    color: red
}
#header1{
    width: 600px;
} 
#header2{
    background-image: url(..imagenes/bg-home);
    background-size: 100% 100%;
    back-attachment: fixed;
}
#footer2{
    background: #ff9933;
    height: 100px;
    text-align: center;
}
.body {
    text-align: center;
}

